{% extends 'PlanmealBundle::index.html.twig' %}

{% block body %}

<div class="row"><!-- ROW 1 -->
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-calendar"></i> <strong>Planning hebdomadaire</strong> | {{ 'NOW'|date('d/m/Y') }}</div>
			
			<div class="panel-body">
				<div class="row"><!-- ROW 2 -->
					<div class="col-xs-6 col-sm-2">
						<p>
						<a class="btn btn-default" 
						href="{{ path('planmeal_semaine_suivante', {'annee': lundi|date_modify("-7 day")|date('Y'), 'semaine': lundi|date_modify("-7 day")|date('W') }) }}" 
						role="button"><i class="fa fa-chevron-left"></i> Précédente</a> 
						</p>
					</div>

					<div class="col-xs-6 col-sm-offset-8 col-sm-2">
						<p class="text-right">
						<a class="btn btn-default" 
						href="{{ path('planmeal_semaine_suivante', {'annee': lundi|date_modify("+7 day")|date('Y'), 'semaine': lundi|date_modify("+7 day")|date('W') }) }}" 
						role="button">Suivante <i class="fa fa-chevron-right"></i></a>
						</p>
					</div>
				</div><!-- FIN ROW 2 -->
				
				<div class="row"><!-- ROW 3 -->	
					<div class="col-xs-12">
						<h4 class="text-center">Semaine du {{ lundi|date('d/m/Y') }} au {{ lundi|date_modify("+6 day")|date('d/m/Y') }} </h4>
						<p class="text-center">(n°{{ semaine }} de {{ annee }})</p>

					</div>
				</div><!-- FIN ROW 3 -->

			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th><i class="fa fa-cutlery fa-2x"></i></th>
							<th>LUNDI<br />{{ lundi|date('d/m/Y') }}</th>
							<th>MARDI<br />{{ lundi|date_modify("+1 day")|date('d/m/Y') }}</th>
							<th>MERCREDI<br />{{ lundi|date_modify("+2 day")|date('d/m/Y') }}</th>
							<th>JEUDI<br />{{ lundi|date_modify("+3 day")|date('d/m/Y') }}</th>
							<th>VENDREDI<br />{{ lundi|date_modify("+4 day")|date('d/m/Y') }}</th>
							<th>SAMEDI<br />{{ lundi|date_modify("+5 day")|date('d/m/Y') }}</th>
							<th>DIMANCHE<br />{{ lundi|date_modify("+6 day")|date('d/m/Y') }}</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td><strong>Matin</strong></td>
							<td>Thé<br />Biscottres<br />Galettes de riz</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td><strong>Midi</strong></td>
							<td>Soupe</td>
							<td></td>
							<td></td>
							<td>Nouilles chinoises<br />Lasagne<br />Soupe<br />Compote de pomme</td>
							<td>Nouilles chinoises<br />Lasagne<br />Soupe<br />Compote de pomme</td>
							<td></td>
							<td></td>
						</tr>

						<tr>
							<td><strong>Soir</strong></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				
				</table>
			</div>



			</div>
		</div>

	</div>

</div><!-- FIN ROW 1 -->

{% endblock %}