{% extends 'PlanmealBundle::index.html.twig' %}

{% block title %}Planifier{% endblock %}

{% block body %}

{% block contenu1 %} 

<div class="row"><!-- ROW 1 -->
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-calendar-plus-o fa-lg"></i> Planifier</div>
			

			<div class="panel-body">
{% endblock %}
				
				{% for message in app.session.flashbag.get('success') %}
					<div class="alert alert-success" role="alert"><strong><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }} </strong></div>
				{% endfor %}

				<p><a href="{{ path('planmeal_repas_ajouter') }}" class="btn btn-info"><i class="fa fa-plus fa-lg"></i> Composer un repas</a></p>

				<table class="table table-striped table-parametres">
					<thead>
						<tr>
							<th>Date</th>
							<th>Moment</th>
							<th class="parametres">Editer</th>
							<th class="parametres">Supprimer</th>
						</tr>
					</thead>

					<tbody>
						<tr>
						{% for repas in listeRepas %}
						<tr>
							<td>{{ repas.date|date('l')|trans }} {{ repas.date|date('d/m/Y') }}</td>
							<td>{{ repas.moment }}</td>
							<td class="parametres"><a href="{{ path('planmeal_repas_editer', {'id': repas.id}) }}" class="label label-primary"><i class="fa fa-pencil fa-lg"></i> Editer</a></td>
							<td class="parametres"><a href="{{ path('planmeal_repas_supprimer', {'id': repas.id}) }}" class="label label-danger"><i class="fa fa-trash fa-lg"></i> Supprimer</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>



{% block contenu2 %}
			</div>
		</div>

	</div>

</div><!-- FIN ROW 1 -->
{% endblock %}

{% endblock %}