{% extends 'PlanmealBundle:parametres:index.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un type de plat{% endblock %}

{% block body %}

{% block contenu1 %}{{ parent() }}{% endblock %}

	<p><a href="{{ path('planmeal_parametres_index') }}" class="btn btn-warning"><i class="fa fa-caret-left fa-lg"></i> Annuler et revenir aux paramètres généraux</a></p>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#ajoutplat" aria-controls="ajoutplat" role="tab" data-toggle="tab">Ajouter un type de plat</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="ajoutplat">
			
			<div class="row">
				<div class="col-xs-12 col-sm-6">

					{{ include("PlanmealBundle:parametres:type-form.html.twig") }}
					
				</div>
			</div>

		</div>
	</div>


{% block contenu2 %}{{ parent() }}{% endblock %}
{% endblock %}

