{% extends 'PlanmealBundle:parametres:index.html.twig' %}

{% block title %}{{ parent() }} - Supprimer un type de plat{% endblock %}

{% block body %}

{% block contenu1 %}{{ parent() }}{% endblock %}

	<p><a href="{{ path('planmeal_parametres_index') }}" class="btn btn-warning"><i class="fa fa-caret-left fa-lg"></i> Annuler et revenir aux paramètres généraux</a></p>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#ajoutplat" aria-controls="ajoutplat" role="tab" data-toggle="tab">Supprimer un type de plat</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="ajoutplat">
			
			{% if not type.plats.empty %}
				<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Ce type de plat ne peut être supprimé car un ou plusieurs plats y sont liés.</div>
			{% endif %}

			{% if type.plats.empty %}
				<div class="alert alert-danger"><p>Souhaitez-vous vraiment supprimer le type de plat {{ type.nom }} ?</p>

				<form method="post" action="{{ path('planmeal_type_supprimer', {'id': type.id}) }}">

				<input type="submit" value="Supprimer le type de plat" />

				{{ form_rest(form) }}

				</form>

				</div>
			{% endif %}

		</div>
	</div>


{% block contenu2 %}{{ parent() }}{% endblock %}
{% endblock %}